<div class="general-wraper">
    <main dir="rtl">
      <div class="background-cont">
        <div class="first-part">
            <div class="top-1">
                <div class="divider"></div>
                <h3>האהבה שלי לבישול</h3>
            </div>
            <div class="image">
                <img src="../../assets/desert1.jpg">
            </div>
            <div class="content-1">
              <p>
                מאז ומתמיד הייתי אוטודידקטית, ואת סודות האפייה והצילום למדתי בעצמי.

                הזיכרון הקולינארי הראשון שלי, הוא ניסיון בהכנת סנדוויצ'ים "גורמה" מתישהו בסביבות גיל הגן-
                זכור לי שעירבבתי בכל כריך כמה ממרחים שונים ומשונים ובדקתי בחיך אנין את התוצאה...
                שילוב טעמים שאני לוקחת איתי בסנדוויץ' עד היום: גבינה לבנה ושוקולד!

                בבית הספר היסודי נהגתי להצמיד את המדחום אל המנורה ולהעמיד פנים שיש לי חום,
                במיוחד כדי שיקראו לסבא לשמור עליי ולקנות לי שוקולדים על המשקל בשופרסל, יאמממ!
              </p>
              <p>
                מתכון העוגיות הראשון שהצית בי את חדוות האפייה, היה של עוגיות צימוקים ואגוזים מהספר של נירה שויאר.

                בתקופת התיכון כשהתגוררתי בבית ההורים, ניהלתי מלחמות שלמות מול אמי
                שלא הסכימה שאאפה כדי שלא אלכלך לה את המטבח (אמרתי כבר שאני פולניה אסלית?)
                כיום אגב אמא שלי מבקשת ממני לאפות עוגיות בכל הזדמנות אפשרית...

                בתקופה מסויימת בחיי ניסיתי להיות לרגע פיית עוגיות אמיתית,
                והנחתי שקיקים של עוגיות באמצע הלילה על סף הדלתות של השכנים ההמומים...
              </p>
            </div>
        <div class="first-part">
            <div class="top-1">
                <div class="divider"></div>
                <h3>הטיפים הכי טובים</h3>
            </div>
            <div class="image">
                <img src="../../assets/side5.jpg">
            </div>
            <div class="content-1">
              <p>
                מאז ומתמיד הייתי אוטודידקטית, ואת סודות האפייה והצילום למדתי בעצמי.

                הזיכרון הקולינארי הראשון שלי, הוא ניסיון בהכנת סנדוויצ'ים "גורמה" מתישהו בסביבות גיל הגן-
                זכור לי שעירבבתי בכל כריך כמה ממרחים שונים ומשונים ובדקתי בחיך אנין את התוצאה...
                שילוב טעמים שאני לוקחת איתי בסנדוויץ' עד היום: גבינה לבנה ושוקולד!

                בבית הספר היסודי נהגתי להצמיד את המדחום אל המנורה ולהעמיד פנים שיש לי חום,
                במיוחד כדי שיקראו לסבא לשמור עליי ולקנות לי שוקולדים על המשקל בשופרסל, יאמממ!
              </p>
              <p>
                מתכון העוגיות הראשון שהצית בי את חדוות האפייה, היה של עוגיות צימוקים ואגוזים מהספר של נירה שויאר.

                בתקופת התיכון כשהתגוררתי בבית ההורים, ניהלתי מלחמות שלמות מול אמי
                שלא הסכימה שאאפה כדי שלא אלכלך לה את המטבח (אמרתי כבר שאני פולניה אסלית?)
                כיום אגב אמא שלי מבקשת ממני לאפות עוגיות בכל הזדמנות אפשרית...

                בתקופה מסויימת בחיי ניסיתי להיות לרגע פיית עוגיות אמיתית,
                והנחתי שקיקים של עוגיות באמצע הלילה על סף הדלתות של השכנים ההמומים...
              </p>
            </div>
        </div>
      </div>
</div>
</main>
