* {
    font-family: 'Varela Round', sans-serif;
}

.container{
  width: 100%;
  height: 1000px;
  padding: 0;
}
.headerContainer{
  position: relative;
  display: block;
  height: 60%;
  width: 100%;
  background-image: url('/../assets/header.jpg');
  background-repeat: no-repeat;
  background-size:100%;
  overflow: visible;
}
.mainContainer{
  position: relative;
  display: block;
  height: 40%;
  width: 100%;
  padding: 0;
}

.smallHeader {
  position: relative;
  display: block;
  height: 21%;
  width: 100%;
  background-image: url('/../assets/header.jpg');
  background-repeat: no-repeat;
  background-size:100%;
  overflow: visible;
}
