<div class="carousel-wrapper">
  <span id="item-1"></span>
  <span id="item-2"></span>
  <span id="item-3"></span>

  <div class="carousel-item item-1">
    <div class="whitecont">
      <h2>מתכונים מפורטים</h2>
      <p>מתכונים של אוכל ביתי וטעים, מפורטים ומדוייקים. המתכונים כוללים את כל השלבים להכנת המתכון, חומרים מומלצים ואופן בישול</p>
    </div>
    <a class="arrow arrow-prev" href="#item-3"></a>
    <a class="arrow arrow-next" href="#item-2"></a>
  </div>

  <div class="carousel-item item-2">
    <div class="whitecont">
      <h2>קניית אוכל ביתי</h2>
      <p>אוכל ביתי בקופסאות או מגשים לפי כמות מנות. ניתן להזמין מראש בכמויות משתנות. אוכל המוכן באהבה,מיומנות עם ניסיון של שנים</p>
    </div>
    <a class="arrow arrow-prev" href="#item-1"></a>
    <a class="arrow arrow-next" href="#item-3"></a>
  </div>

  <div class="carousel-item item-3">
    <div class="whitecont">
      <h2>מציאת מתכון לפי קטגוריה</h2>
      <p>ניתן לחפש מתכונים לפי מרכיבים,ארוחה,סוג האוכל, החג המתאים ועוד</p>
    </div>
    <a class="arrow arrow-prev" href="#item-2"></a>
    <a class="arrow arrow-next" href="#item-1"></a>
  </div>

  <ol class="carousel-indicators">
  <li data-target="#item-1" data-slide-to="1" class="active"></li>
  <li data-target="#item-2" data-slide-to="2"></li>
  <li data-target="#item-3" data-slide-to="3"></li>
</ol>

</div>
