<div class="most-recommended-cont">
  <h3 style="font-size: 250%; margin: 0 0 3px 0; height: 31px;" dir="rtl" class="mainHeadear">המומלצים</h3>
</div>

<div class="recipes-wraper">
  <div class="left1">
    <div class="whitecont">
      <img src="../../../assets/levivot.jpg" class="img1" alt="" title="">
      <div class="caption">
            <h3 class="posttitle">לביבות</h3>
            <span class="level" dir="rtl">בינוני </span> <span class="duration" dir="rtl">1-שעה </span> <span class="type" dir="rtl">מנה עיקרית</span>
      </div>
      </div>
  </div>

  <div class="left2">
    <div class="whitecont">
      <img src="../../../assets/side3.jpg" class="img2" alt="" title="">
      <div class="caption">
            <h3 class="posttitle">שעועית ירוקה</h3>
            <span class="level" dir="rtl">בינוני </span> <span class="duration" dir="rtl">1-שעה </span> <span class="type" dir="rtl">מנה עיקרית</span>
      </div>
      </div>
  </div>

  <div class="left3">
    <div class="whitecont">
      <img src="../../../assets/pilpel_memule.jpg" class="img3" alt="" title="">
      <div class="caption">
            <h3 class="posttitle">פלפלים ממולאים</h3>
            <span class="level" dir="rtl">בינוני </span> <span class="duration" dir="rtl">1-שעה </span> <span class="type" dir="rtl">מנה עיקרית</span>
      </div>
      </div>
  </div>

  <div class="left4">
    <div class="whitecont">
      <img src="../../../assets/tzli_gezr_potato.png" class="img4" alt="" title="">
      <div class="caption">
            <h3 class="posttitle">צלי תפו"א וגזר</h3>
            <span class="level" dir="rtl"> קשה </span> <span class="duration" dir="rtl">1-שעה</span> <span class="type" dir="rtl">עיקרית</span>
      </div>
      </div>
  </div>

  <div class="left5">
      <div class="whitecont">
        <img src="../../../assets/salad6.jpg" class="img5" alt="" title="">
        <div class="caption">
              <h3 class="posttitle">קרפצ'יו סלק</h3>
              <span class="level" dir="rtl">קל </span> <span class="duration" dir="rtl">5-דקות </span> <span class="type" dir="rtl">ללא גלוטן </span>
        </div>
        </div>
  </div>

  </div>
