<!-- <div class="catagories-cont">
  <h3 style="font-size: 250%; margin: 0; height: 31px;" dir="rtl" class="mainHeadear">מתכונים לפי קטגוריות</h3>
</div> -->

<div class="cat-container">
  <a class="cat1">
    <img src="../../../assets/circle-hover.png" class="circle">
    <img src="../../../assets/veg1.png" class="veg1">
    <a class="tooltips" href="#">
      <span>מתכונים צמחוניים</span>
    </a>
  </a>
  <a class="cat2">
    <img src="../../../assets/circle-hover.png" class="circle">
    <img src="../../../assets/meat1.png" class="meat1">
    <a class="tooltips" href="#">
      <span>מתכונים בשריים</span>
    </a>
  </a>
  <a class="cat3">
    <img src="../../../assets/circle-hover.png" class="circle">
    <img src="../../../assets/lut-free.jpg" class="glut-free">
    <a class="tooltips" href="#">
      <span>מתכונים ללא גלוטן</span>
    </a>
  </a>
  <a class="cat4">
    <img src="../../../assets/circle-hover.png" class="circle">
    <img src="../../../assets/side0.jpg" class="sideDish">
    <a class="tooltips" href="#">
      <span>מנות צד</span>
    </a>
  </a>
  <a class="cat5">
    <img src="../../../assets/circle-hover.png" class="circle">
    <img src="../../../assets/salad0.jpg" class="salad">
    <a class="tooltips" href="#">
      <span>סלטים</span>
    </a>
  </a>
  <a class="cat6">
    <img src="../../../assets/circle-hover.png" class="circle">
    <img src="../../../assets/dessert.jpg" class="dessert">
    <a class="tooltips" href="#">
      <span>קינוחים</span>
    </a>
  </a>

</div>
